<!--
Auteur: Anouar Lahmidi
Date: 9/30/2024
Fichier: control.ejs
Description: page de controle de l'atelier 11
-->

<!DOCTYPE html>

<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>


    <% for(var i=1;i<=6;i++) { %>

        <h1><a href="/module/<%=i%>">Module <%=i%></a></h1>

        <% if(modul[i]) { %>
            <button style="background-color: green;">MODULE <%=i%></button>
        <%}else{%>
            <button style="background-color: red;">MODULE <%=i%></button>
        <%}%>

    <%}%>

    <br>

    <a href='/'>accueil</a>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>

</html>