<!--
Auteur: Anouar Lahmidi
Date: 9/18/2024
Fichier: module.ejs
Description: page de module du lab 3
-->

<!DOCTYPE html>

<html>

  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <h1> MODULE <%= modu%> </h1>

    <% if(modul) { %>
        <button style="background-color: green;">MODULE <%= modu%></button>
    <%}else{%>
        <button style="background-color: red;">MODULE <%= modu%></button>
    <%}%>
    <br>
    <a href='/'>accueil</a>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
  </body>

</html>
