<!DOCTYPE html>

<html lang="fr">

<head>

    <%- include('../partials/head') %>

</head>

<body class="container">



    <header>

        <%- include('../partials/header') %>

    </header>



    <main>

        <div class="jumbotron">

            Vous êtes dans la section recherche. Voici les résultats pour la date de <%= mois %> <%= annee %>

        </div>

    </main>



    <footer>

        <%- include('../partials/footer') %>

    </footer>



</body>

</html>